{% extends "base.html" %}
{% block content %}

<h2>New Booking</h2>

<div class="boxform">

<form class="new" action="/bookings" method="POST">

    <div>
        <label for="activity">Class:</label>
        <select name="activity_id" id="activity">
            {% for activity in activities %}
            {% if activity.active == True %}
            <option value="{{ activity.id }}">
                {{ activity.name }} - {{activity.date}} - {{activity.time}}
            </option>
            {% endif %}
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="member">Member:</label>
        <select name="member_id" id="member">
            {% for member in members %}
            <option value="{{ member.id }}">
                {{ member.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <input type="submit" value="Book">
    </div>
</form>
</div>


{% endblock %}