{% extends "base.html" %}
{% block content %}

<h2>Add a New Instructor</h2>

<div class= "boxform">

<form class ="new" action="/instructors" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="active">Active:</label>
        <select name="active" id="active">
            <option value="True" >Active</option>                    
            <option value="False">Not Active</option> 
          </select>
    </div>
    <div>
        <input type="submit" value="Add">
    </div>
</form>
</div>

{% endblock %}