{% extends "base.html" %}
{% block content %}

<h2>Add a New Class</h2>

<form action="/activities" method="POST">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="instructor">Instructor:</label>
        <select name="instructor_id" id="instructor">
            {% for instructor in instructors %}
            <option value="{{ instructor.id }}">
                {{ instructor.name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <div>
        <label for="room">Room:</label>
        <input type="text" id="room" name="room">
    </div>
    <div>
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" name="capacity">
    </div>
    <div>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    </div>
    <div>
        <label for="time">Time:</label>
        <input type="time" id="time" name="time">
    </div>
    <div>
        <label for="active">Active:</label>
        <select name="active" id="active">
            <option value="True" >Active</option>                    
            <option value="False">Not Active</option> 
          </select>
    </div>
    <div>
        <input type="submit">
    </div>
</form>

{% endblock %}