<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Gym App</title>
</head>
<body>
    <header>
        <h1>Gym app name</h1>
        <nav>
            <ul class="bar">
                <li><a href="/">Home</a></li>
                <li>
                    Instructors
                    <ul>
                        <li><a href="/instructors">All</a></li>
                        <li><a href="/instructors/new">New</a></li>
                    </ul>
                </li>
                <li>
                    Classes
                    <ul>
                        <li><a href="/activities">All</a></li>
                        <li><a href="/activities/new">New</a></li>
                    </ul>
                </li>
                <li>
                    Members
                    <ul>
                        <li><a href="/members">All</a></li>
                        <li><a href="/members/new">New</a></li>
                    </ul>
                </li>
                <li>
                    Bookings
                    <ul>
                        <li><a href="/bookings">All</a></li>
                        <li><a href="/bookings/new">New</a></li>
                    </ul>
                </li> 
            </ul>
        </nav>
    </header>
    <div class="box">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>